
.alert {
  position: fixed;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); /* Move the alert on x axys */
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 14px; 
  max-width: 400px; 
}

.alert svg {
  margin-right: 10px;
}

/*animation for better user experience */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.alert-success {
  animation: fadeInOut 3s ease; /* applies a fadein&out */
}