input {
  display: flex;
  flex-direction: row;
  margin: 25px;
  justify-content: space-around;
  border: 3px solid white;
  height: 2em;
  width: 50em;
}

#instructions-create {
  width: 100%;
  min-height: 100px;
  display: block;
  margin: 0 auto;
}
