.details-page img {
  width: 10%;
  height: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgb(92, 22, 22) 0px 7px 13px -3px, rgba(0, 0, 0, 2) 0px -3px 0px inset;
}
